type devicesettings_app, domain, mlstrustedsubject;

app_domain(devicesettings_app)

binder_use(devicesettings_app)

# Access standard system services
allow devicesettings_app {
  activity_service
  app_api_service
  content_service
  display_service
  user_service
}:service_manager find;

# Allow to read and write /data/data subdirectory
allow devicesettings_app system_app_data_file:dir create_dir_perms;
allow devicesettings_app system_app_data_file:{ file lnk_file } create_file_perms;

# Allow writting to /dev/stune/foreground/tasks
allow devicesettings_app cgroup:file w_file_perms;

# Allow to interact with gpuservice
binder_call(devicesettings_app, gpuservice)

allow devicesettings_app sysfs_keyboard:file rw_file_perms;
allow devicesettings_app sysfs_touchpanel:file w_file_perms;

r_dir_file(devicesettings_app, sysfs_touchpanel)
